html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
}

.App {
  position: relative;
  min-height: 100%;
}

iframe {
  /*background-image: url('/assets/solo-pattern.jpg');*/
}

::-webkit-scrollbar {
  display: none;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 300;
}

a {
  color: rgba(80,80,80,1);
  text-decoration: none;
}

.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-cell {
  display: table-cell;
}
.none {
  display: none;
}

.column {
  flex-flow: column;
}
.row {
  flex-flow: row;
}

.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.white-txt {
  color: rgba(250,250,250,1);
}
.white-bg {
  background-color: rgba(250,250,250,1);
}

.dg-txt {
  color: rgba(80,80,80,1);
}
.lg-txt {
  color: rgba(120,120,120,1);
}

header {
  max-width: 550px;
  margin: 0 auto;
  padding: 1.4em 1em 0;
  text-transform: uppercase;
}
nav {
  padding: 0.66em 0 0em;
  height: 1.66em;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
nav a {
  position: relative;
  width: 20%;
}
nav a span {
  position: relative;
  display: inline-block;
  font-size: 0.9em;
  /*border-bottom: 1px solid black;*/
}
nav a span:after {
  content: '';
  position: absolute;
  top: 1em; left: 0;
  width: 100%;
  height: 1px;
  background: rgba(80,80,80,1);
  opacity: 0;
  transform: translate(0, 0px);
  transition: all 0.33s ease;
}
nav a span:hover:after {
  opacity: 1;
  transform: translate(0, 5px);
}
nav a span.active:after {
  opacity: 1;
  transform: translate(0, 5px);
  /*height: 3px;*/
}
nav a:before {
  content: '';
  position: absolute;
  top: 0.25em; left: 0;
  height: 1em;
  width: 1px;
  background: rgba(80,80,80,1);
}
nav a:nth-child(1):before {
  opacity: 0;
}

footer {
  height: 60px;
  bottom: 0;
}
footer .link {
  height: 20px;
  padding: 0.4em;
}
footer .link .icon {
  height: 100%;
}

@media screen and (max-width: 480px) {
  nav {
    font-size: 0.8em;
    width: 100%;
    /*justify-content: space-around;*/
  }
}


#Home {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 40px;
  min-height: 500px;
}
#Home .img-cont.hero,
#Home #bio {
  display: inline-table;
}
#Home .img-cont.hero {
  width: 330px;
  padding-bottom: 1em;
  vertical-align: top;
}
#Home .img-cont.hero img {
  width: 100%;
}
#Home #bio {
  text-align: justify;
  letter-spacing: 0.066em;
  line-height: 2em;
  max-width: 330px;
  padding-left: 3em;
}

@media screen and (max-width: 768px) {
  #Home {
    width: 100%;
    padding: 40px 0;
  }
  #Home .img-cont.hero,
  #Home #bio {
    display: block;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
  }
  #Home .img-cont.hero {
    padding-bottom: 1em;
  }
  #Home #bio {
    padding: 0 1em 40px;
  }
}


#Credits {
  padding: 40px 0;
}
#Credits .categories {
  /*max-width: 800px;*/
}
#Credits .category {
  vertical-align: top;
  padding: 0 25px 30px;
  text-align: left;
}
#Credits .category h1 {
  font-size: 1.33em;
  padding-bottom: 0.66em;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
#Credits .category ul {
  padding: 0; margin: 0;
  list-style-type: none;
  max-width: 300px;
}
#Credits .category .name,
#Credits .category .embed {
  padding-bottom: 1em;
  display: inline-block;
}
#Credits .category .name {
  letter-spacing: 0.066em;
}
#Credits .category .name:before {
  content: '- ';
  text-indent: 5px;
}

@media screen and (max-width: 600px) {
  #Credits .category {
    display: block;
  }
}


#Solo {
  padding: 20px 0 40px;
}
#Solo .embed {
  padding: 0 1em;
  max-width: 600px;
  margin: 1.33em auto;
}
#Solo .embed iframe {
  width: 100%;
}
#Solo .embed.video {
  width: 90vw;
  height: 50.625vw;
  max-width: 600px;
  max-height: 337.5px;
}
#Solo .embed.video iframe {
  width: 100%!important;
  height: 100%!important;
}

@media screen and (max-width: 600px) {
  #Solo {
    padding-bottom: 60px;
  }
  #Solo .embed {
    padding: 0.5em 1em;
  }
}


#Media {
  padding: 50px 0 60px;
}
#Media .embed {
  margin: 2em 1em;
  position: relative;
}
#Media .photo {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
#Media .photo .hover-cover {
  position: absolute;
  opacity: 0;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  transition: opacity 0.33s ease;
}
#Media .photo .hover-cover .desc {
  margin: auto;
  font-size: 0.8em;
}
#Media .photo:hover .hover-cover {
  opacity: 1;
}
#Media .video {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: 50.625vw;
  max-width: 700px;
  max-height: 393.75px;
}

#Media .overview {
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
}
#Media .overview .escape {
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255,255,255,0.8);
}
#Media .overview img {
  max-width: 80%;
  max-height: 80%;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

@media screen and (max-width: 600px) {
  #Media .embed {
    margin: 0.5em 1em;
  }
  #Media .photo {
    width: 90% !important;
  }
  #Media .photo img {
    width: 100% !important;
  }
}



#Gear {
  padding: 50px 0 40px;
  max-width: 800px;
  margin: 0 auto;
}
#Gear .category {
  min-height: 240px;
  padding-bottom: 60px;
}
#Gear .category h1 {
  font-size: 1.33em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
  padding: 0 0 1em;
}
#Gear .category h2 {
  font-weight: 500;
}
#Gear .img-cont {
  display: inline-block;
  width: 240px;
  height: 240px;
  float: right;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: sepia(0%) saturate(0%) contrast(100%);
}
#Gear .text-cont .group {
  padding-bottom: 1em;
}

@media screen and (max-width: 768px) {
  #Gear .category {
    display: table;
    width: 100%;
    /*margin-bottom: 40px;*/
    padding-bottom: 0px;
    padding: 1em 0;
  }
  #Gear .category .text-cont {
    display: table-cell;
    vertical-align: middle;
  }
  #Gear .img-cont {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: none; /*PER NOTES*/
  }
  #Gear .img-cont:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255,255,255,0.75);
  }
  #Gear .category h1 {
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0;
  }
  #Gear .text-cont .group {
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
  }
}


@font-face {
  font-family: 'Gotham';
  src: url('/assets/Fonts/Gotham/Gotham-Medium.eot');
  src: url('/assets/Fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/Fonts/Gotham/Gotham-Medium.woff') format('woff'),
    url('/assets/Fonts/Gotham/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/Fonts/Gotham/Gotham-Bold.eot');
  src: url('/assets/Fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/Fonts/Gotham/Gotham-Bold.woff') format('woff'),
    url('/assets/Fonts/Gotham/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/Fonts/Gotham/Gotham-Black.eot');
  src: url('/assets/Fonts/Gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('/assets/Fonts/Gotham/Gotham-Black.woff') format('woff'),
    url('/assets/Fonts/Gotham/Gotham-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/Fonts/Gotham/Gotham-Book.eot');
  src: url('/assets/Fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('/assets/Fonts/Gotham/Gotham-Book.woff') format('woff'),
    url('/assets/Fonts/Gotham/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
